$ui-base-color: #262417; // dark olive
$ui-highlight-color: #822c1e; // red
$ui-secondary-color: #a8991e; // yellow
$ui-primary-color: #ececee; // main text, grey
$ui-primary-color-alt: #e48f0d; // darker, for external pages
$ui-link-text-color: #fbdd9a; //light yellow
$ui-background-pale-color: #262417; // background pale
$ui-pale-contrast-color: #7a0623; // pale contrast

$about-page-text: lighten($ui-base-color, 50%);

@import 'neon-base';

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 4px);
  }
  to {
    transform: translate(0, -0);
  }
}

.about-body .mascot {
  display: none;
}

.muted {
  .status__content p, .status__content a {
    color: #bea7c5;
  }

  .status__display-name strong {
    color: #bea7c5;
  }
}

.compose-form__buttons button.active:last-child {
  color:$ui-secondary-color;
  background-color: $ui-highlight-color;
  border-radius:3px;
}

.screenshot-with-signup {
  min-height:300px;
}

.container.hero .closed-registrations-message .clock {
  font-size: 150%;
  margin: 1em auto;
}

.actions .button.button-alternative {
    background: $ui-highlight-color;
    color: $ui-primary-color;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-highlight-color, 4%);
    }
}

@media screen and (max-width: 1280px) {
  .landing-page .container.links {
      top: -15px;
  }
}



.landing-page.alternative .header img {
    margin: auto;
    max-height:45vh;
}


.landing-page.alternative .grid {
    position: relative;
    z-index:2;
    margin-top:15vh;
}

.landing-page.alternative .landing-page__hero img {
    visibility: hidden;
    max-height:170px;
}

.landing-page.alternative .landing-page__forms {
    height:auto;
}

.landing-page.alternative .column-1 {
    display:flex;
    align-items:flex-end;
}

.landing-page.alternative .column {
    max-height:initial;
}

.landing-page.alternative .row__mascot {
    .floats {
        position:absolute;
        img {
            width:100%;
            height:100%;
        }
        transition: all 0.1s linear;
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    .float-1 {
        width:50px;
        height:50px;
        bottom:60px;
        left:110px;
        animation-duration: 3s;
    }

    .float-2 {
        width:130px;
        height:130px;
        left:85px;
        bottom: -60px;
        animation-duration: 3.5s;
        animation-delay: 0.2s;
    }

    .float-3 {
        width:100px;
        height:100px;
        right: 50;
        top: -10px;
        animation-duration: 4s;
        animation-delay: 0.5s;
    }
}

.activity-stream {
  .status.light {
    .status__header .status__meta .status__relative-time {
      color: $ui-primary-color-alt;
    }

    .display-name span {
      color: $ui-primary-color-alt;
    }

    .status__content {
      a.status__content__spoiler-link {
        background: $ui-primary-color-alt;

        &:hover {
          background: lighten($ui-primary-color-alt, 8%);
        }
      }
    }
  }

  .detailed-status.light {
    .detailed-status__display-name .display-name span {
      color: $ui-primary-color-alt;
    }

    .status__content a.status__content__spoiler-link {
      background: $ui-primary-color-alt;

      &:hover {
        background: lighten($ui-primary-color-alt, 8%);
      }
    }

    .detailed-status__meta {
      color: $ui-primary-color-alt;
    }
  }

  .media-spoiler {
    background: $ui-primary-color-alt;
    &:hover {
      background: darken($ui-primary-color-alt, 5%);
    }
  }

  .pre-header {
    color: $ui-primary-color-alt;
    .status__display-name.muted strong {
      color: $ui-primary-color-alt;
    }
  }
}

.embed .activity-stream .entry .detailed-status.light .button.button-secondary.logo-button {
  color: $ui-primary-color-alt;
  svg {
    path:first-child {
      fill: $ui-primary-color-alt;
    }
  }
  &:active,
  &:focus,
  &:hover {
    svg path:first-child {
      fill: lighten($ui-primary-color-alt, 4%);
    }
  }
}

.emoji-mart-search {
  background: $simple-background-color;
  input {
    color: $ui-primary-color-alt;
    border: 1px solid $ui-primary-color-alt;
  }
}

.emoji-mart-anchor {
  color: $ui-primary-color-alt;
  &:hover {
    color: darken($ui-primary-color-alt, 8%);
  }
}

.search-popout {
  background: $ui-base-color;
  color: $ui-primary-color;

  h4 {
    color: $ui-primary-color;
  }

  em {
    color: $ui-highlight-color;
  }
}

/* customize color and opacity */
.status__content a,
.status__content a.unhandled-link {
  color: $ui-link-text-color;
}

.status__content {
  color: lighten($ui-primary-color, 6%);
}

.status__display-name strong {
  color: lighten($ui-primary-color, 15%);
}

.column > .scrollable {
  background-color: rgba(19, 17, 11, 0.9);
}

.drawer__inner, .drawer__inner__mastodon {
  opacity: 1.0;
}

body, .landing-page, .public-layout {
  background-image: url("../images/harrypotter/HP9.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.layout-single-column .navigation-panel {
  background-color: #13110b;
  opacity: 0.9;
  height: auto;
  .column-link {
    background: transparent;
    color:$white;
    &:hover {
      background: $ui-base-color;
    }
    &.active {
      background: #2d243c;
    }
  }
  hr {
    display: none;
  }
}

.getting-started {
   background: rgba(29,20,41,0.85);
  .column-link {
    background: #56407600;
    color:$white;
    &:hover {
      background: #5b447d75;
    }
  }
}

.landing__grid {
  opacity: 1.0;
}

.activity-stream .entry {
  background-color: rgba(27,27,27,0.9);
}

.account__section-headline {
  background-color: rgba(17,17,17,0.9);
}



// Fix reply indicator
.reply-indicator {
  min-height: 30px;
  max-height: 200px;
  background: $ui-background-pale-color;
}

//emoji bar
.emoji-mart-bar:first-child {
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: $ui-background-pale-color;
}

.emoji-mart-bar {
    border: 0 solid $ui-background-pale-color;
}

.dropdown-menu, .dropdown-menu a {
    background: $ui-background-pale-color;
}


.dropdown-menu__item a:hover {
    background: $ui-pale-contrast-color;
    color: darken($ui-background-pale-color, 35%);
}

.compose-form .compose-form__buttons-wrapper {
    padding: 10px;
    background: $ui-background-pale-color;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.compose-panel .compose-form {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    min-height: 310px;
    padding-bottom: 71px;
    margin-bottom: -71px;
    max-height: 500px;
}

.drawer__inner {
  background: transparent;
}

.drawer__inner__mastodon {
  display: none;
}



