$ui-base-color: rgb(107, 135, 177); // darkest
$ui-highlight-color: #8ba1ce; // vibrant
$ui-secondary-color: #b4bfe0; // lightest
$ui-primary-color: #d1d6ff; // lighter
$ui-primary-color-alt: #8180a5fd; // darker, for external pages
$ui-link-text-color: #ef8972;

$about-page-text: lighten($ui-base-color, 50%);

@import 'neon-base';

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 4px);
  }
  to {
    transform: translate(0, -0);
  }
}

.about-body .mascot {
  display: none;
}

.muted {
  .status__content p, .status__content a {
    color: lighten($ui-base-color, 35%);
  }

  .status__display-name strong {
    color: lighten($ui-base-color, 35%);
  }
}

.compose-form__buttons button.active:last-child {
  color:$ui-secondary-color;
  background-color: $ui-highlight-color;
  border-radius:3px;
}

.screenshot-with-signup {
  min-height:300px;
}

.container.hero .closed-registrations-message .clock {
  font-size: 150%;
  margin: 1em auto;
}

.actions .button.button-alternative {
    background: $ui-highlight-color;
    color: $ui-primary-color;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-highlight-color, 4%);
    }
}

@media screen and (max-width: 1280px) {
  .landing-page .container.links {
      top: -15px;
  }
}

.landing-page.alternative .header {
    background-image:url('../images/cowboycasino/src.jpg');
    background-repeat: repeat-x;
    background-size:contain;
    height:45vh;
    width: 100%;
    position:absolute;
    z-index: 1;
    text-align:center;

    display: unset!important;
}

.landing-page.alternative .header img {
    margin: auto;
    max-height:45vh;
}


.landing-page.alternative .grid {
    position: relative;
    z-index:2;
    margin-top:15vh;
}

.landing-page.alternative .landing-page__hero img {
    visibility: hidden;
    max-height:170px;
}

.landing-page.alternative .landing-page__forms {
    height:auto;
}

.landing-page.alternative .column-1 {
    display:flex;
    align-items:flex-end;
}

.landing-page.alternative .column {
    max-height:initial;
}

.landing-page.alternative .row__mascot {
    .floats {
        position:absolute;
        img {
            width:100%;
            height:100%;
        }
        transition: all 0.1s linear;
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    .float-1 {
        width:50px;
        height:50px;
        bottom:60px;
        left:110px;
        animation-duration: 3s;
    }

    .float-2 {
        width:130px;
        height:130px;
        left:85px;
        bottom: -60px;
        animation-duration: 3.5s;
        animation-delay: 0.2s;
    }

    .float-3 {
        width:100px;
        height:100px;
        right: 50;
        top: -10px;
        animation-duration: 4s;
        animation-delay: 0.5s;
    }
}

.activity-stream {
  .status.light {
    .status__header .status__meta .status__relative-time {
      color: $ui-primary-color-alt;
    }

    .display-name span {
      color: $ui-primary-color-alt;
    }

    .status__content {
      a.status__content__spoiler-link {
        background: $ui-primary-color-alt;

        &:hover {
          background: lighten($ui-primary-color-alt, 8%);
        }
      }
    }
  }

  .detailed-status.light {
    .detailed-status__display-name .display-name span {
      color: $ui-primary-color-alt;
    }

    .status__content a.status__content__spoiler-link {
      background: $ui-primary-color-alt;

      &:hover {
        background: lighten($ui-primary-color-alt, 8%);
      }
    }

    .detailed-status__meta {
      color: $ui-primary-color-alt;
    }
  }

  .media-spoiler {
    background: $ui-primary-color-alt;
    &:hover {
      background: darken($ui-primary-color-alt, 5%);
    }
  }

  .pre-header {
    color: $ui-primary-color-alt;
    .status__display-name.muted strong {
      color: $ui-primary-color-alt;
    }
  }
}

.embed .activity-stream .entry .detailed-status.light .button.button-secondary.logo-button {
  color: $ui-primary-color-alt;
  svg {
    path:first-child {
      fill: $ui-primary-color-alt;
    }
  }
  &:active,
  &:focus,
  &:hover {
    svg path:first-child {
      fill: lighten($ui-primary-color-alt, 4%);
    }
  }
}

.emoji-mart-search {
  background: $simple-background-color;
  input {
    color: $ui-primary-color-alt;
    border: 1px solid $ui-primary-color-alt;
  }
}

.emoji-mart-anchor {
  color: $ui-primary-color-alt;
  &:hover {
    color: darken($ui-primary-color-alt, 8%);
  }
}

.search-popout {
  background: $ui-base-color;
  color: $ui-primary-color;

  h4 {
    color: $ui-primary-color;
  }

  em {
    color: $ui-highlight-color;
  }
}

/* customize color and opacity */
.status__content a,
.status__content a.unhandled-link {
  color: $ui-link-text-color;
}

.status__content {
  color: lighten($ui-primary-color, 6%);
}

.status__display-name strong {
  color: lighten($ui-primary-color, 15%);
}

.column > .scrollable {
  background-color: rgba(27,27,27,0.9);
}

.drawer__inner, .drawer__inner__mastodon {
  opacity: 1;
}

body, .landing-page, .public-layout {
  background-image: url("../images/jupiter/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.layout-single-column .navigation-panel {
  //background-color: $ui-highlight-color;
  opacity: 0.8;
  height: auto;
  .column-link {
    background: lighten($ui-base-color, 5%);
    color:$white;
    &:hover {
      background: lighten($ui-base-color, 10%);
    }
    &.active {
      background: darken($ui-base-color, 5%);
    }
  }
  hr {
    display: none;
  }
}

.getting-started {
  opacity: 0.8;
  .column-link {
    background: lighten($ui-base-color, 5%);
    color:$white;
    &:hover {
      background: lighten($ui-base-color, 10%);
    }
  }
}

.landing__grid {
  opacity: 0.9;
}

.activity-stream .entry {
  background-color: rgba(27,27,27,0.9);
}

.account__section-headline {
  background-color: rgba(17,17,17,0.9);
}

.reply-indicator {
    min-height: 30px;
    max-height: 200px;
    background: #88aea4;
}


// about page

.box-widget {
    background: rgb(112 116 147 / 38%);
}

.landing .hero-widget__footer {
    background: rgb(112 116 147 / 38%);
}

.hero-widget__text {
    background: rgb(112 116 147 / 38%);
} 

.directory__tag>a, .directory__tag>div {
    background: rgb(112 116 147 / 38%);
}

.simple_form__overlay-area__overlay {
    background: transparent;
}

.simple_form input[type=email], .simple_form input[type=number], .simple_form input[type=password], .simple_form input[type=text], .simple_form input[type=url], .simple_form textarea {
    background: #43597fc4;
    border: 1px solid #43597fc4;
} // transparency of board

.simple_form .hint a {
    color: #e0906d;
    font-weight: bold;
    text-decoration: none;
} // bunengdengru?

.hero-widget__text a {
    color: #e3e1e1;
    text-decoration: none;
} // liaojiegengduo

.brand__tagline {
    color: transparent;
} // delete brand tagline

// timeline

.column>.scrollable {
    background-color: rgba(112, 116, 147, 0.65);
}

.load-more {
    color: #ffc8b5;
    font-weight: bold;
}

.status__display-name {
    color: #cdc4ff;
}

.tabs-bar__wrapper {
    background: #7892b8;
} // unite tabs-bar color

.tabs-bar__wrapper .tabs-bar {
    background: #7892b8;
}

.tabs-bar__link.active {
    border-bottom: 2px solid #e99f9e;
    color: #e99f9e;
}

.tabs-bar__link:active, .tabs-bar__link:focus, .tabs-bar__link:hover {
    background: #7892b8;
    border-bottom-color: #869dbf;
}

.conversation--unread {
    background: #ffa4b33b;
}

.muted .status__content a, .muted .status__content p, .muted .status__display-name strong {
    color: #ffffff;
}

.tabs-bar__link {
    border-bottom: 2px solid #7892b8;
} // cancel tabs-bar underline

// left bar

.navigation-bar strong {
    color: #ffffff;
}

// right bar

.layout-single-column .navigation-panel .column-link.active {
    background: #5a79a885;
}

.layout-single-column .navigation-panel .column-link {
    background: #7c95ba38;
}

// status editing page

.drawer__inner__mastodon>img {
    opacity: 0;
}

.drawer__inner, .drawer__inner__mastodon {
    background: transparent;
}

// search

.drawer__inner.darker {
    background: transparent;
}

.trends__header {
    color: #ffffff;
    background: #ef89728a;
    border-bottom: 1px solid #ef89728a;
}

::-webkit-scrollbar-thumb {
    background: #7892b8a6;
}

.search__input {
    background: #7892b8;
}

// notifications

.account__section-headline button, .notification__filter-bar button {
    background: #7892b8;
}

.account__section-headline a.active:after, .account__section-headline button.active:after, .notification__filter-bar a.active:after, .notification__filter-bar button.active:after {
    border-color: transparent transparent #ef8972;
}

.account__section-headline a.active, .account__section-headline button.active, .notification__filter-bar a.active, .notification__filter-bar button.active {
    color: #ffffff;
}