$ui-base-color: #5d5d5d; // base
$ui-highlight-color: #fd76ea; // vibrant
$ui-secondary-color: #8cffff; // lightest
$ui-primary-color: #535353; // main text
$ui-primary-color-alt: #9d9ea0; // darker, for external pages
$ui-link-text-color: #5faacf;

$about-page-text: darken($ui-base-color, 50%);

@import 'neon-base';

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 4px);
  }
  to {
    transform: translate(0, -0);
  }
}

.about-body .mascot {
  display: none;
}

.muted {
  .status__content p, .status__content a {
    color: #514f4f;
  }

.status__display-name strong {
    color: #555;
  }
}

.compose-form__buttons button.active:last-child {
  color: #e5fcff;
  background-color: #eb93ec;
}

.screenshot-with-signup {
  min-height:300px;
}

.container.hero .closed-registrations-message .clock {
  font-size: 150%;
  margin: 1em auto;
}

.actions .button.button-alternative {
    background: $ui-highlight-color;
    color: $ui-primary-color;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-highlight-color, 4%);
    }
}

@media screen and (max-width: 1280px) {
  .landing-page .container.links {
      top: -15px;
  }
}

.landing-page.alternative .header {
    background-image:url('../images/promare/header-promare-colour.jpg');
    background-repeat: repeat-x;
    background-size:contain;
    height:45vh;
    width: 100%;
    position:absolute;
    z-index: 1;
    text-align:center;

    display: unset!important;
}

.landing-page.alternative .header img {
    margin: auto;
    max-height:45vh;
}


.landing-page.alternative .grid {
    position: relative;
    z-index:2;
    margin-top:15vh;
}

.landing-page.alternative .landing-page__hero img {
    visibility: hidden;
    max-height:170px;
}

.landing-page.alternative .landing-page__forms {
    height:auto;
}

.landing-page.alternative .column-1 {
    display:flex;
    align-items:flex-end;
}

.landing-page.alternative .column {
    max-height:initial;
}

.landing-page.alternative .row__mascot {
    .floats {
        position:absolute;
        img {
            width:100%;
            height:100%;
        }
        transition: all 0.1s linear;
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    .float-1 {
        width:50px;
        height:50px;
        bottom:60px;
        left:110px;
        animation-duration: 3s;
    }

    .float-2 {
        width:130px;
        height:130px;
        left:85px;
        bottom: -60px;
        animation-duration: 3.5s;
        animation-delay: 0.2s;
    }

    .float-3 {
        width:100px;
        height:100px;
        right: 50;
        top: -10px;
        animation-duration: 4s;
        animation-delay: 0.5s;
    }
}

.activity-stream {
  .status.light {
    .status__header .status__meta .status__relative-time {
      color: $ui-primary-color-alt;
    }

    .display-name span {
      color: $ui-primary-color-alt;
    }

    .status__content {
      a.status__content__spoiler-link {
        background: $ui-primary-color-alt;

        &:hover {
          background: lighten($ui-primary-color-alt, 8%);
        }
      }
    }
  }

  .detailed-status.light {
    .detailed-status__display-name .display-name span {
      color: $ui-primary-color-alt;
    }

    .status__content a.status__content__spoiler-link {
      background: $ui-primary-color-alt;

      &:hover {
        background: lighten($ui-primary-color-alt, 8%);
      }
    }

    .detailed-status__meta {
      color: $ui-primary-color-alt;
    }
  }

  .media-spoiler {
    background: $ui-primary-color-alt;
    &:hover {
      background: darken($ui-primary-color-alt, 5%);
    }
  }

  .pre-header {
    color: $ui-primary-color-alt;
    .status__display-name.muted strong {
      color: $ui-primary-color-alt;
    }
  }
}

.embed .activity-stream .entry .detailed-status.light .button.button-secondary.logo-button {
  color: $ui-primary-color-alt;
  svg {
    path:first-child {
      fill: $ui-primary-color-alt;
    }
  }
  &:active,
  &:focus,
  &:hover {
    svg path:first-child {
      fill: lighten($ui-primary-color-alt, 4%);
    }
  }
}

.emoji-mart-search {
  background: $simple-background-color;
  input {
    color: $ui-primary-color-alt;
    border: 1px solid $ui-primary-color-alt;
  }
}

.emoji-mart-anchor {
  color: $ui-primary-color-alt;
  &:hover {
    color: #e5fcff;
  }
}

.search-popout {
  background: $white;
  color: $ui-primary-color;

  h4 {
    color: $ui-primary-color;
  }

  em {
    color: $ui-highlight-color;
  }
}

/* customize color and opacity */
.status__content a,
.status__content a.unhandled-link {
  color: $ui-link-text-color;
}

.status__content {
  color: #4d4d4d;
}

.status__display-name strong {
  color: lighten($ui-primary-color, 15%);
}

.column > .scrollable {
  background-color: hsla(0,0%,100%,.85);
}

.drawer__inner, .drawer__inner__mastodon {
  opacity: 0.95;
}

body, .landing-page, .public-layout {
  background-image: url("../images/promare/promare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.layout-single-column .navigation-panel {
  background: #ffffffb3;
  height: auto;
  .column-link {
    background: #ffffffba;
    color: #91aed6;
    &:hover {
      background: #91aed6;
      color: #ffffffba;
    }
    &.active {
      background: #fbfbfba6;
    }
  }
  hr {
    display: none;
  }
}

.getting-started {
  opacity: 0.9;
  .column-link {
    background: #fff;
    color: #91aed6;
    &:hover {
      background: darken($ui-base-color, 5%);
    }
  }
}

.landing__grid {
  opacity: 1.0;
}

.activity-stream .entry {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.account__section-headline {
  background-color: hsla(0, 0%, 100%, 0.9);
}

// Fix reply indicator
.reply-indicator {
  min-height: 30px;
  max-height: 200px;
  background: #e5fcff;
}

.reply-indicator__content p {
    color: #6d6d6d;
}

//emoji bar
.emoji-mart-bar:first-child {
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e5fcff;
}

.emoji-mart-bar {
    border: 0 solid #e5fcff;
}

.dropdown-menu, .dropdown-menu a {
    background: #e5fcff;
    color: #c164b4
}


.dropdown-menu__item a:hover {
    background: #fe9ff2;
    color: #a8f5ff;
}

.compose-form .compose-form__buttons-wrapper {
    padding: 10px;
    background: #e5fcff;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.compose-panel .compose-form {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    min-height: 310px;
    padding-bottom: 71px;
    margin-bottom: -71px;
    max-height: 500px;
}

.drawer__inner {
  background: transparent;
}

.drawer__inner__mastodon {
  display: none;
}

.block-modal__container, .confirmation-modal__container, .mute-modal__container, .report-modal__target {
    padding: 30px;
    font-size: 16px;
    background: #e5fcff;
}

.block-modal__action-bar, .boost-modal__action-bar, .confirmation-modal__action-bar, .mute-modal__action-bar {
    display: flex;
    justify-content: space-between;
    background: #e5fcff;
    padding: 10px;
    line-height: 36px;
}

.actions-modal, .block-modal, .boost-modal, .confirmation-modal, .mute-modal, .report-modal {
    background: #e5fcff;
    color: #302f2f;
    border-radius: 8px;
    overflow: hidden;
    max-width: 90vw;
    width: 480px;
    position: relative;
    flex-direction: column;
}


.dropdown-menu__separator {
    border-bottom: 1px solid #fff;
}


.actions-modal ul li:not(:empty) a:hover, .actions-modal ul li:not(:empty) a:hover button {
    background: #fe9ff2;
    color: #fff;
}

.actions-modal .dropdown-menu__separator, .actions-modal .status {
    border-bottom-color: #fff;
}

.column-back-button {
    background: #white;
}

.conversation--unread, .status.status-direct:not(.read) {
    background: rgb(251 252 255);
}

.report-modal {
    width: 90vw;
}

.report-modal__target {
    padding: 15px;
}

.report-modal__comment {
    padding: 20px;
    border-right: 1px solid #8862be;
    max-width: 200px;
}

.navigation-bar strong {
    color: #93f3ffd1;
}

.account__header__bar {
    background: #ffffffa3;
    border-bottom: none;
}

.detailed-status__action-bar {
    background: #efb3fdbf;
    border-top: 1px solid #efb3fd;
    border-bottom: 1px solid #efb3fd;
}

.tabs-bar__link {
color: #91aed6;
}

.character-counter, .compose-form .compose-form__buttons-wrapper .text-icon-button, .icon-button.inverted {
    color: #91aed6;
}

.tabs-bar__link.active {
    border-bottom: 2px solid #fd76ea;
    color: #fd76ea;
}

.display-name__account {
    color: #91aed6;
}

.column-header>button {
    color: #91aed6;
    background: #fff;
}

.notification__filter-bar button.active {
    color: #91aed6;
}

.status__prepend .status__display-name strong {
    color: #ec93ec;
}

.status__prepend {
    color: #ec93ec;
}

.status__content .status__content__spoiler-link {
    background: #bed8ec;
    color: #ffffff;
}

.compose-panel .autosuggest-textarea__textarea {
    color: #6d6d6d;
}

.display-name__html {
    font-weight: 500;
    color: #6d6d6d;
}

.detailed-status__display-name strong {
    color: #595959;
}


.navigation-bar a {
    color: #aaaaaa;
}


.column-subheading {
    color: #86a3c6;
    background: #efefef;
}

.getting-started__footer a {
    text-decoration: none;
    color: #999595;
}

.account__header__tabs__name h1 {
    color: #8cffffc9;
}

.account__header__bio .account__header__content {
    color: #5d5d5d;
}

.account__section-headline {
    background-color: #ffffff;
}

.notification__relative_time, .status__relative-time {
    color: #6d6d6d;
}

.poll__footer {
    color: #6d6d6d;
}

.poll__link {
   color: #6d6d6d;
}

.tabs-bar__wrapper {
    background: #ffffff;
}

.account__header__fields dt {
    font-weight: 500;
    width: 120px;
    flex: 0 0 auto;
    color: #ec97e8;
    background: hsla(0,0%,92.2%,.5);
}

.account__header__extra__links a strong {
    font-weight: 700;
    color: #ec9ae8;
}

.column-back-button {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    color: #fd76ea;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 16px;
    line-height: inherit;
    border: 0;
    text-align: unset;
    padding: 15px;
    margin: 0;
    z-index: 3;
    outline: 0;
}

.status__content__read-more-button {
    font-size: 14px;
    color: #a4a0a0;
}

.search__input {
    background: #fff;
}

.tabs-bar {
    background: #fff;
}

.column-header__button {
    background: #fff;
}

.tabs-bar__link {
     border-bottom: 2px solid #eaeaef;
}

.column-header {
    background: $white;
}

.tabs-bar__link:focus, .tabs-bar__link:hover {
    background: #f3fcfddb;
}

.detailed-status {
    background: #ffffffcf;
}

.notification__filter-bar button.active {
    color: #91aed6;
    background: #fff;
}

.account__section-headline a, .account__section-headline button, .notification__filter-bar a, .notification__filter-bar button {
    background: $white;
}


.status.status-direct:not(.read), .conversation--unread {
    background:  rgb(251 252 255);
    border-bottom-color: #71717154;
}

.status, .conversation {
    border-bottom: 1px solid #71717154;
}

.compose-form .compose-form__warning {
    background: #e6e6e6;
}

.account__header__fields dl {
    display: flex;
    border-bottom: 1px solid #7171715e;
}

.notification__filter-bar {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}


.column-header > button {
    color: #91aed6;
}

.getting-started__wrapper {
    background: #eaeaea;
}

.getting-started .column-link:hover {
    background: #ecebeb;
}

.column-link__badge, .column-subheading {
    background: #eaeaea;
}

.column-header__back-button {
    background: #fff;
}

.account__header__fields {
    border-color: #71717154;
}

.account__header__bio .account__header__fields {
    margin: 0;
    border-top: 1px solid #71717154;
}

.status__content {
    color: #352d2d;
}

.flex-spacer, .getting-started, .getting-started__wrapper {
    background: #f3f3f3;
}

.public-layout .header {
    background: #ffffffad;
}

.public-layout .header .nav-button {
    background: #ffffffb0;
}

.public-layout .public-account-bio {
    background: hsla(0, 0%, 100%, 0.9);
}

.account__header__content p {
    margin-bottom: 20px;
    color: #494949;
}

.status { 
    background: transparent;
}

.account__section-headline  {
    border-bottom: none;
}

.hero-widget__text {
    background: hsla(0, 0%, 100%, 0.9);
}

.admin-wrapper .sidebar ul a {
    color: #fff;
}

.box-widget {
    background: hsla(0, 0%, 100%, 0.9);
}

.simple_form__overlay-area__overlay {
    background: transparent;
}

.landing .hero-widget__footer {
    background: hsla(0, 0%, 100%, 0.9);
}

.directory__tag>a, .directory__tag>div {
    background: hsla(0, 0%, 100%, 0.9);
}

.directory__tag h4 {
    color: #666262;
}

.simple_form input[type="email"]::placeholder, .simple_form input[type="number"]::placeholder, .simple_form input[type="password"]::placeholder, .simple_form input[type="text"]::placeholder, .simple_form input[type="url"]::placeholder, .simple_form textarea::placeholder {
    color: white;
    background: #a8a8a8;
}

.account__display-name strong  {
    color: #ff7fe8;
}

.landing .hero-widget__counter strong {
    color: #626262;
}

.landing-page__call-to-action {
    background: hsla(0, 0%, 100%, 0.9);
}

.information-board__section span, .information-board__section strong {
    color: #4d4d4d;
}

.information-board__section span:last-child {
    color: #7b8088;
}

.table-of-contents {
    background: hsla(0, 0%, 100%, 0.9);
}

.table-of-contents li a {
    color: #676767;
    border-bottom: 1px solid #6767672e;
}

.public-layout .header .brand:hover {
    background: #d9d7d769;
}


.focusable:focus {
    background: hsla(320.6, 100%, 86.9%, 0.30);
}

.focusable:focus .detailed-status {
    background: hsla(320.6, 100%, 86.9%, 0.30);
}

.column-header__collapsible-inner {
    background: #ffffff91;
}

.column-header__button.active, .column-header__button.active:hover {
    color: #91aed6;
    background: #fff;
}

.column-settings__row .text-btn:not(.column-header__permission-btn) {
    margin-bottom: 15px;
    color: #5d5d5d;
}

.account--panel {
    background: #fffafaad;
    border-top: none;
    border-bottom: none;
}

.public-layout .public-account-header__bar {
    background: #fff8f8db;
}

.public-layout .public-account-.header__extra__links a strong {
    color: #fd76ea;
}

.public-layout .public-account-header__tabs__name h1 {
    color: #fd76ea;
}

.button.logo-button {
    background: #8cd4ff;
}

.search-results__header {
    background: #fff;
}

.search-results__section h5 {
    background: #f9f9f9;
}


.search-results  {
    background: $white;
}

.account {
    border-bottom: 1px solid #71717175;
}

.search__input:focus {
    background: #f9f9f9;
}


.search-results__section h5 {
    border-bottom: none;
}

.drawer__inner.darker {
    background: #fffbfbe3;
}

.trends__header {
    background: #fff;
    border-bottom: 1px solid #71717175;
}
 

.simple_form .hint {
    color: #fdfdfd;
}

.admin-wrapper .content .muted-hint, body .muted-hint {
    color: #fdfdfd;
}

.simple_form p.hint {
    color: #d5d5d5;
}

.card__bar .display-name span {
    color: #d5d5d5;
}

.admin-wrapper .content h4 {
    color: #fdfdfd;
}

.filters .filter-subset a {
    color: #c8c8c8;
}

a.table-action-link:first-child, button.table-action-link:first-child {
    color: #d5d5d5;
}

.accounts-table__count small {
    color: #d5d5d5;
}

a.table-action-link, button.table-action-link {
    color: #d5d5d5;
}

.empty-column-indicator, .error-column, .follow_requests-unlocked_explanation {
    background: #43325c00;
}

.list-editor {
    background: #fff;
}

.column-inline-form {
    background: #fff;
}

.column-link {
    background: #fff;
    color: #a8a8a8;
}

.directory__tag h4 small {
    color: #cacaca;
}

.directory__tag h4 .fa {
    color: #cacaca;
}

.directory__tag > a {
    background: hsla(0, 0%, 100%, 0.15);
}

.dashboard__counters__label {
    color: #fd76ea;
}

.load-more:hover {
    background: #fffbfb;
}

.load-gap {
    border-bottom: 1px solid #71717175;
}

.focusable:focus .status.status-direct {
    background: hsla(320.6, 100%, 86.9%, 0.30);
}
